

/*--------------------------------------------------------------
>> TABLE OF CONTENTS:
----------------------------------------------------------------
1. Typography
2. General
3. Preloader
4. ScrollUp
5. Site Header
6. Hero Section
7. Intro Text Section
8. About Section
9. Service Section
10. Section Heading
11. Testimonial Section
12. Time Section
13. Team Section
14. Gallery Section
15. Contact Section
16. Site Footer
17. Responsive
--------------------------------------------------------------*/

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Poppins:400,500,600,700');

/*--------------------------------------------------------------
1. Typography
--------------------------------------------------------------*/
body {
  color: #666;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h3,
h5,
h6 {
  clear: both;
  color: #191919;
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

p {
  margin-bottom: 12px;
}

ul {
  margin: 0 0 15px 0;
  padding-left: 15px;
  list-style: square outside none;
}

ol {
  padding-left: 15px;
  margin-bottom: 15px;
}

li {
  font-size: 14px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 14px;
}

address {
  margin: 0 0 15px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover,
a:focus,
a:active {
  color: #fab502;
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  outline: none;
}

/*--------------------------------------------------------------
2. General
--------------------------------------------------------------*/
.at-btn.at-style1,
.at-btn.at-style2 {
  display: inline-block;
  background-color: #fff;
  color: #191919;
  font-size: 14px;
  padding: 11px 20px;
  line-height: 23px;
  outline: none;
  border: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-width: 160px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.at-btn.at-style1 span,
.at-btn.at-style2 span {
  position: relative;
  z-index: 1;
}

.at-btn.at-style1:before,
.at-btn.at-style2:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #7eba27;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.at-btn.at-style1:hover:before,
.at-btn.at-style2:hover:before {
  width: 105%;
}

.at-btn.at-style1:hover,
.at-btn.at-style1:active,
.at-btn.at-style1:focus,
.at-btn.at-style2:hover,
.at-btn.at-style2:active,
.at-btn.at-style2:focus {
  color: #fff;
}

.at-btn.at-style2 {
  background-color: #191919;
  color: #fff;
}

.at-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.at-gray-bg {
  background-color: #f5f3f3;
}

.at-section {
  padding: 100px 0;
}

.at-cotent {
  background: #fff;
}

.row {
  margin-top: -30px;
}

.row>div {
  margin-top: 30px;
}

.at-vartical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

/*--------------------------------------------------------------
3. Preloader
--------------------------------------------------------------*/
#at-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  background-size: cover;
  height: 100%;
  z-index: 9999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.at-preloader-dots {
  height: 25px;
  width: 80px;
}

.at-preloader-dots .at-dot {
  display: inline-block;
  background: #fab502;
  height: 8px;
  width: 8px;
  opacity: 0.3;
  border-radius: 50%;
  -webkit-animation: moveit 1.8s infinite;
  animation: moveit 1.8s infinite;
  margin: 0 2px;
}

.at-dot:nth-child(2) {
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

.at-dot:nth-child(3) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.at-dot:nth-child(4) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}

.at-dot:nth-child(5) {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

@-webkit-keyframes moveit {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  35% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0.3;
  }

  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0.8;
  }

  70% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 0.8;
  }

  85% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

@keyframes moveit {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  35% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0.3;
  }

  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0.8;
  }

  70% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 0.8;
  }

  85% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

/*--------------------------------------------------------------
4. ScrollUp
--------------------------------------------------------------*/
.scrollup {
  position: fixed;
  bottom: -60px;
  right: 25px;
  color: #191919;
  padding: 5px;
  height: 36px;
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 10;
  background: -webkit-gradient(linear, left top, right top, from(#4281A5), to(#6B1794));
  background: #fff;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  opacity: 1;
}

.scrollup:hover {
  opacity: 1;
  background: #fab502;
}

.scrollup:before {
  content: "\f102";
  font-family: 'FontAwesome';
}

.scrollup.scrollup-show {
  bottom: 25px;
}

/*--------------------------------------------------------------
5. Site Header
--------------------------------------------------------------*/
.site-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 100px;
  background-color: transparent;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
  background: white;
  margin: 0;
  max-width: inherit !important;
  color: black;
  padding: 0 75px;
}

.header-wrap:before,
.header-wrap:after {
  content: none;
}

.site-header.small-height {
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  background: #191919;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  height: 70px;
}

/*Site Branding*/
.site-header .custom-logo {
  max-width: 200px;
  /*max-height: 60px;*/
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.site-header.small-height .custom-logo {
  max-width: 180px;
  max-height: 60px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.custom-logo-link {
  display: inline-block;
}

.site-title {
  line-height: 30px;
  display: inline-block;
}

.site-title a {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  display: inherit;
  line-height: inherit;
}

/*End Site Branding*/
/*Navigation*/
.primary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}

.primary-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}

.primary-nav .primary-nav-list {
  height: 100%;
}

.primary-nav .menu-item {
  position: relative;
  margin-right: 33px;
  height: 100%;
}

.primary-nav .menu-item:last-child {
  margin-right: 0px;
}

.nav>li>a:focus,
.nav>li>a:hover {
  background-color: transparent;
}

.primary-nav .menu-item>a {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-header .primary-nav .menu-item>a {
  height: 100%;
}

.primary-nav-list .menu-item>a {
  color: #000;
}

.primary-nav-list .active>a,
.primary-nav-list .menu-item>a:hover {
  background-color: transparent;
}

.primary-nav-list .current-menu-ancestor .current-menu-ancestor.current-menu-parent>a,
.primary-nav-list .current-menu-ancestor.current-menu-parent .current-menu-item>a {
  background: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.site-header .primary-nav .menu-item-has-children>ul {
  width: 200px;
  padding-left: 0;
  background: #191919;
  position: absolute;
  top: 100px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.site-header .primary-nav .menu-item-has-children>ul ul {
  top: 1px;
  border-left: 1px solid rgba(142, 141, 141, 0.2);
}

.site-header.small-height .primary-nav .menu-item-has-children>ul {
  top: 70px;
}

.site-header.small-height .primary-nav .menu-item-has-children>ul ul {
  top: 1px;
}

.primary-nav .menu-item:hover>ul {
  top: 80px;
  opacity: 1;
  visibility: visible;
  display: block !important;
}

.primary-nav .menu-item-has-children>ul>li {
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 16px;
  width: 100%;
}

.primary-nav .menu-item-has-children>ul>li a {
  height: initial;
  display: block;
  padding: 11px 15px;
  background: transparent;
  font-size: 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: -1px;
  font-weight: 400;
}

.site-header .primary-nav .menu-item-has-children>ul>li a,
.site-header.small-height .primary-nav .menu-item-has-children>ul>li a {
  min-height: 30px;
}

.primary-nav .menu-item-has-children>ul>li:not(:first-child) a {
  border-top: 1px solid rgba(142, 141, 141, 0.2);
}

.primary-nav .menu-item-has-children>ul>li:not(:last-child) a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.primary-nav .menu-item-has-children>ul>li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.07);
}

.primary-nav .menu-item-has-children>ul>li ul {
  position: absolute;
  left: 100%;
  right: 100%;
  top: 1px;
  display: none;
}

.primary-nav .menu-item-has-children>ul>li:hover ul {
  display: block;
}

/*Mobile Menu Button*/
.m-menu-btn {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 27px;
  margin: 15px 0px 15px 25px;
  cursor: pointer;
  display: none;
}

.m-menu-btn span {
  margin: 0 auto;
  position: relative;
  top: 12px;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.m-menu-btn span:before,
.m-menu-btn span:after {
  position: absolute;
  content: '';
}

.m-menu-btn span,
.m-menu-btn span:before,
.m-menu-btn span:after {
  width: 25px;
  height: 2px;
  background-color: #fff;
  display: block;
}

.m-menu-btn span:before {
  margin-top: -8px;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, -webkit-transform;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.m-menu-btn span:after {
  margin-top: 8px;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, -webkit-transform;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.m-menu-btn-ext span {
  background-color: rgba(0, 0, 0, 0.0);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.m-menu-btn-ext span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s;
  -o-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

.m-menu-btn-ext span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s;
  -o-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

.m-dropdown {
  display: none;
}

/*End Mobile Menu Button*/
.primary-nav .primary-nav-list {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.primary-nav .primary-nav-list>.menu-item>.nav-link.active {
  color: #fab502;
}

/*== Start Site Header ==*/
@media screen and (max-width: 1400px) and (min-width: 1001px) {
  .site-header .primary-nav .menu-item-has-children:last-child>ul {
    right: 0px;
  }
}

@media screen and (max-width: 991px) {

  /*== Home page Header ==*/
  .site-header>div {
    width: 100%;
    padding: 0;
  }

  .site-branding {
    margin-left: 15px;
  }

  .m-menu-btn {
    margin-right: 15px;
  }

  .m-menu-btn {
    display: block;
  }

  .primary-nav-list {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    display: none;
    max-height: 295px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0;
    margin: 0;
    background: #191919;
    -webkit-box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.35);
    padding: 15px 0;
  }

  .small-height .primary-nav-list {
    top: 100%;
    margin: 0;
  }

  .m-menu ul {
    list-style: none;
  }

  .m-menu ul .menu-item a {
    display: block;
    padding: 6px 20px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px
  }

  .m-menu ul .menu-item ul li a {
    font-size: 12px;
  }

  .m-menu ul .menu-item a:hover {
    background-color: #2b2b2b3b;
    -webkit-box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.1)
  }

  .m-dropdown {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 16px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 10px;
    line-height: 18px;
    height: 20px;
    width: 20px;
    text-align: center;
    z-index: 11;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .m-dropdown:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  .m-menu ul .menu-item ul {
    display: none;
    padding-left: 10px;
  }

  .m-menu ul>.menu-item {
    position: relative;
  }

  .menu-item.menu-item-has-children>a:after {
    display: none;
  }

  .nav-link:before {
    left: 10px;
    bottom: initial;
    top: 13px;
  }
}

/*== End Site Header ==*/
/*--------------------------------------------------------------
6. Hero Section
--------------------------------------------------------------*/
.at-single-slide {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.at-slide-text {
  margin-top: 30px;
}

.at-hero-bar {
  height: 5px;
  width: 0px;
  opacity: 0;
  background-color: #7eba27;
  margin-bottom: 31px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.carousel-item.active .at-hero-bar {
  opacity: 1;
  width: 65px;
  -webkit-transition-delay: 0.05s;
  -o-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.at-single-slide h1 {
  font-weight: 700;
  color: #fff;
  font-size: 30px;
  margin-bottom: 27px;
  margin-left: 65px;
  opacity: 0;
  -webkit-transition: all 0.65s ease;
  -o-transition: all 0.65s ease;
  transition: all 0.65s ease;
  font-family: inherit;
}

.carousel-item.active .at-single-slide h1 {
  -webkit-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s;
  opacity: 1;
  margin-left: 0;
}

.at-single-slide p {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 41px;
  margin-left: 65px;
  opacity: 0;
  -webkit-transition: all 0.65s ease;
  -o-transition: all 0.65s ease;
  transition: all 0.65s ease;
}

.carousel-item.active .at-single-slide p {
  -webkit-transition-delay: 0.45s;
  -o-transition-delay: 0.45s;
  transition-delay: 0.45s;
  opacity: 1;
  margin-left: 0;
}

.at-single-slide .at-btn.at-style1 {
  margin-left: 65px;
  opacity: 0;
  -webkit-transition: all 0.65s ease;
  -o-transition: all 0.65s ease;
  transition: all 0.65s ease;
}

.carousel-item.active .at-btn.at-style1 {
  -webkit-transition-delay: 0.55s;
  -o-transition-delay: 0.55s;
  transition-delay: 0.55s;
  opacity: 1;
  margin-left: 0;
}

.at-hero-slider .owl-nav {
  position: absolute;
  top: 50%;
  right: calc((100vw - 1130px)/2);
  z-index: 111;
  color: #fff;
  font-size: 24px;
  line-height: 43px;
}

.at-hero-slider .owl-nav>div {
  margin-bottom: 30px;
}

.at-hero-slider .owl-nav>div:last-child {
  margin-bottom: 0;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.at-slider-control {
  position: absolute;
  z-index: 10;
  right: calc((100vw - 1130px)/2);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#at-hero-slider .carousel-control-next,
#at-hero-slider .carousel-control-prev {
  position: initial;
  opacity: 1;
  width: initial;
  color: #fff;
  font-size: 24px;
  margin-bottom: 40px;
}

#at-hero-slider .carousel-control-next:hover,
#at-hero-slider .carousel-control-prev:hover {
  color: #fab502;
}

#at-hero-slider .carousel-control-next {
  margin-bottom: 0;
}

#at-hero-slider .carousel-indicators {
  width: 24px;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  bottom: initial;
  padding: 5px 0;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  overflow: hidden;
}

#at-hero-slider .carousel-indicators:hover {
  width: 150px;
}

.carousel-indicators li {
  width: 14px;
  height: 14px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.carousel-indicators li:before {
  content: '';
  position: absolute;
  height: 6px;
  width: 6px;
  background: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.carousel-indicators:hover li.active:before {
  background-color: #fab502;
}

.carousel-indicators .active {
  background-color: transparent;
}

/*--------------------------------------------------------------
7. Intro Text Section
--------------------------------------------------------------*/
.at-sample-text h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 28px;
  margin-top: -9px;
}

.at-sample-text p:last-child {
  margin-bottom: 0;
}

.at-sample-text-btn {
  margin-top: 35px;
}

.at-intro-img img {
  -webkit-animation: 1.7s infinite alternate atImageUpAnimation;
  animation: 1.7s infinite alternate atImageUpAnimation;
}

@-webkit-keyframes atImageUpAnimation {
  from {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes atImageUpAnimation {
  from {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

/*--------------------------------------------------------------
8. About Section
--------------------------------------------------------------*/
.at-about-wrap .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.at-about-text {
  max-width: 715px;
  padding: 100px 15px 100px 45px;
}

.at-about-text .row {
  margin-top: 0px;
}

.at-about-text .row>div {
  margin-top: 45px;
}

.at-icon-box {
  position: relative;
  padding-left: 70px;
}

.at-icon-img {
  position: absolute;
  left: 0;
  top: 0;
}

.at-icon-box:hover .at-icon-img {
  -webkit-animation: rubberBand 0.6s ease-in-out 0s 1 both;
  animation: rubberBand 0.6s ease-in-out 0s 1 both;
}

.at-icon-box h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.at-icon-box p {
  margin-bottom: -6px;
}

.at-about-img {
  width: calc(100% + 15px);
  height: 100%;
  min-height: 400px;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*--------------------------------------------------------------
9. Service Section
--------------------------------------------------------------*/
.at-service-wrap {
  overflow: hidden;
}

.at-single-service {
  position: relative;
  overflow: hidden;
}

.at-single-service:not(:last-child) {
  margin-bottom: 15px;
}

.at-single-service img {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.at-single-service:hover img {
  -webkit-transform: scale(1.12);
  -ms-transform: scale(1.12);
  transform: scale(1.12);
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.at-single-service .at-service-name {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(25, 25, 25, 0.7);
  padding: 14px 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.at-single-service:hover .at-service-name {
  bottom: -80px;
  -webkit-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.at-single-service .at-service-hover {
  position: absolute;
  width: 100%;
  height: 101%;
  top: -101%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgba(250, 181, 2, 0.7);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.at-single-service:hover .at-service-hover {
  top: 0;
}

.at-single-service .at-service-hover h2 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.at-single-service .at-service-hover p {
  margin: 0;
  font-weight: 500;
  color: #fff;
}

.at-service-carousel.owl-carousel .owl-nav.disabled {
  display: block;
}

.at-service-carousel.owl-carousel .owl-nav>div {
  position: absolute;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #191919;
  border-radius: 50%;
  color: #191919;
  font-size: 26px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.at-service-carousel.owl-carousel .owl-nav>div {
  position: absolute;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #191919;
  border-radius: 50%;
  color: #191919;
  font-size: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}

.at-service-wrap:hover .at-service-carousel.owl-carousel .owl-nav>div {
  opacity: 1;
  visibility: visible;
}

.at-service-carousel.owl-carousel .owl-nav>div:hover {
  background-color: #fab502;
  border-color: #fab502;
}

.at-service-carousel.owl-carousel .owl-nav>div.owl-prev {
  left: 0;
  padding-right: 3px;
}

.at-service-wrap:hover .at-service-carousel.owl-carousel .owl-nav>div.owl-prev {
  left: -80px;
}

.at-service-carousel.owl-carousel .owl-nav>div.owl-next {
  right: 0;
  padding-left: 3px;
}

.at-service-wrap:hover .at-service-carousel.owl-carousel .owl-nav>div.owl-next {
  right: -80px;
}

.at-pricing-table ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.at-pricing-table li {
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 35px;
  margin-bottom: 33px;
}

.at-pricing-table li:last-child {
  margin-bottom: 0;
}

.at-pricing-table h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 17px;
}

.at-price-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 18px;
}

.at-price-text p {
  margin-bottom: 0;
}

.at-price-text span {
  padding: 0 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.at-pricing-table li:hover .at-price-text span {
  color: #fab502;
}

/*--------------------------------------------------------------
10. Section Heading
--------------------------------------------------------------*/
.at-section-heading {
  margin-bottom: 60px;
}

.at-section-heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: -9px;
  margin-bottom: -6px;
}

.at-section-heading p {
  margin: -6px;
  margin-top: 20px;
  font-size: 16px;
}

.at-section-heading.at-color-white h2,
.at-section-heading.at-color-white p {
  color: #fff;
}

/*--------------------------------------------------------------
11. Testimonial Section
--------------------------------------------------------------*/
.at-testimonial {
  background: #323232;
  border-radius: 120px 0 0 119px;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.at-testimonial-img {
  height: 164px;
  width: 164px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 40px;
}

.at-testimonial-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.at-testimonial-text blockquote {
  margin: 0;
  color: #fff;
  margin-top: -6px;
  margin-bottom: 20px;
}

.at-testimonial-meta h3 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 7px;
}

.at-testimonial-meta span {
  display: block;
  color: rgba(255, 255, 255, 0.85);
  font-size: 12px;
  line-height: 1.4em;
  margin-bottom: -3px;
}

.owl-carousel.at-testimonials .owl-dots,
.owl-carousel.at-gallery-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 60px;
  bottom: 38px;
}

.owl-carousel.at-testimonials .owl-dots .owl-dot,
.owl-carousel.at-gallery-carousel .owl-dots .owl-dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  margin-left: 8px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.owl-carousel.at-testimonials .owl-dots .owl-dot.active,
.owl-carousel.at-gallery-carousel .owl-dots .owl-dot.active {
  background-color: #fab502;
}

/*--------------------------------------------------------------
12. Time Section
--------------------------------------------------------------*/
.at-time-wrap {
  position: relative;
  background-color: #191919;
}

.at-time-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(25, 25, 25, 0.6);
}

.at-time-wrap .container {
  position: relative;
  z-index: 1;
}

.at-single-time {
  text-align: center;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 5px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.at-single-time:hover {
  border-color: #fab502;
}

.at-single-time h3 {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 15px;
}

.at-single-time p {
  color: #fff;
  margin: 0;
}

.at-time .row {
  margin-right: -10px;
  margin-left: -10px;
}

.at-time .row>div {
  padding-left: 10px;
  padding-right: 10px;
}

/*--------------------------------------------------------------
13. Team Section
--------------------------------------------------------------*/
.at-team-wrap.at-section {
  padding-bottom: 0;
}

.at-team-member-img {
  position: relative;
}

.at-member-meta h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 25px;
}

.at-member-meta span {
  display: block;
  margin-bottom: -6px;
}

.at-team-social {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(179, 129, 0, 0.7);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.at-team-member:hover .at-team-social {
  opacity: 1;
}

.at-team-social a {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  margin: 0px 5px;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.at-team-social a:first-child {
  margin-top: -30px
}

.at-team-social a:nth-child(2) {
  margin-top: 30px
}

.at-team-social a:nth-child(3) {
  margin-top: -30px
}

.at-team-social a:nth-child(4) {
  margin-top: 30px
}

.at-team-member:hover .at-team-social a {
  margin-top: 0;
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.at-team-member .at-team-social a:hover {
  background-color: #fff;
  color: rgba(179, 129, 0, 1);
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/*--------------------------------------------------------------
14. Gallery Section
--------------------------------------------------------------*/
.at-single-gallery {
  width: 100%;
  position: relative;
}

.at-big {
  height: 600px;
  width: 100.5%;
}

.at-small {
    height: 300px;
}

.at-gallery .row>div,
.at-gallery .row {
  margin: 0;
  padding: 0
}

.at-gallery-btn {
  margin-top: 60px;
}

.at-plus {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.at-single-gallery:hover .at-plus {
  opacity: 1;
}

.at-plus:before,
.at-plus:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.at-single-gallery:hover .at-plus:before,
.at-single-gallery:hover .at-plus:after {
  width: 35px;
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.at-plus:before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.at-gallery-link {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

/*--------------------------------------------------------------
15. Contact Section
--------------------------------------------------------------*/
.at-contact-form {
  padding-top: 1px;
}

.at-form-field input,
.at-form-field textarea {
  border: none;
  border-bottom: 2px solid #191919;
  height: 40px;
  width: 100%;
  font-weight: 600;
  padding: 5px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.at-form-field input:focus,
.at-form-field textarea:focus {
  border-color: #fab502;
  outline: none;
}

.at-form-field textarea {
  height: 90px;
}

.at-form-field input::-webkit-input-placeholder,
.at-form-field textarea::-webkit-input-placeholder {
  color: #191919;
}

.at-form-field input::-moz-placeholder,
.at-form-field textarea::-moz-placeholder {
  color: #191919;
}

.at-form-field input:-ms-input-placeholder,
.at-form-field textarea:-ms-input-placeholder {
  color: #191919;
}

.at-form-field input:-moz-placeholder,
.at-form-field textarea:-moz-placeholder {
  color: #191919;
}

#at-map {
  width: 100%;
  height: 450px;
}

/*--------------------------------------------------------------
16. Site Footer
--------------------------------------------------------------*/
.at-site-footer.at-bg {
  background-repeat: repeat;
  background-size: initial;
  background-position: initial;
}

.at-footer-logo {
  margin-bottom: 30px;
}

.at-footer-widget-title {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  font-family: inherit;
  margin-top: -4px;
  margin-bottom: 35px;
}

.at-footer-widget ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  margin-top: -9px;
  margin-bottom: -9px;
}

.at-footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 22px;
}

.at-footer-social a {
  height: 25px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  margin-right: 8px;
  margin-top: 8px;
  color: #191919;
  font-size: 14px;
}

.at-footer-social a:hover {
  background-color: #fab502;
}

.at-footer-link a {
  position: relative;
  padding-left: 15px;
}

.at-footer-link a:before {
  content: "\f0da";
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: -3px;
  color: #fab502;
}

.at-parallax {
  background-attachment: fixed;
  background-position: 50% 50%;
}

.at-site-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  display: block;
}

/*--------------------------------------------------------------
17. Responsive
--------------------------------------------------------------*/
@media screen and (max-width: 1199px) {
  .at-slider-control {
    right: calc((100vw - 930px)/2);
  }

  .at-service-wrap:hover .at-service-carousel.owl-carousel .owl-nav>div.owl-prev {
    left: -25px;
    background: #fff;
  }

  .at-service-wrap:hover .at-service-carousel.owl-carousel .owl-nav>div.owl-next {
    right: -25px;
    background: #fff;
  }
}

@media screen and (max-width: 991px) {
  .at-parallax {
    background-position: 50% 50% !important;
  }

  .at-slider-control {
    right: calc((100vw - 690px)/2);
  }

  .at-section {
    padding: 70px 0;
  }

  .at-section-heading {
    margin-bottom: 40px;
  }

  .at-service-carousel .owl-nav {
    display: none;
  }

  .at-service-carousel .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 25px;
  }

  .at-service-carousel .owl-dot {
    height: 12px;
    width: 12px;
    background: #666;
    margin: 0 5px;
    border-radius: 50%;
  }

  .at-service-carousel .owl-dot.active {
    background-color: #fab502;
  }

  .at-gallery-btn {
    margin-top: 30px;
  }

  .at-site-footer {
    position: relative;
    z-index: 1;
  }

  .at-cotent {
    margin-bottom: 0 !important;
  }

  .at-footer-widget-title {
    margin-bottom: 20px;
  }

  .at-about-text {
    max-width: 720px;
    padding: 40px 15px 70px 15px;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  .carousel-navigation {
    display: none;
  }

  .at-slider-control {
    width: 100%;
    max-width: 540px;
    padding: 0 15px;
    right: initial;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: initial;
    bottom: 20px;
  }

  #at-hero-slider .carousel-indicators {
    width: 100%;
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: initial;
  }

  .carousel-indicators li.active:before {
    background-color: #fab502;
  }

  .at-single-slide {
    height: 600px;
  }
}


@media screen and (max-width: 575px) {
  .carousel-item.active .at-single-slide p br {
    display: none;
  }

  .owl-carousel.at-testimonials .owl-dots,
  .owl-carousel.at-gallery-carousel .owl-dots {
    right: 30px;
    bottom: 30px;
  }

  .at-testimonial {
    border-radius: 120px 0 0 0px;
    padding: 25px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 30px 30px;
  }

  .at-testimonial-img {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .at-intro-img {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}
